<%-include("./parciales/header")%>
	<!-- product detail -->

	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre_producto + ' ' + producto.marca + ' ' + producto.modelo %> </h2> 
			<p class="product-detail-description">
				<% if (locals.user && user.id == producto.creador.id){ %> 
				<a href="../product-edit/<%= producto.id%>">Editar</a>
			<% } %> 
			</p>
			<p class="product-detail-description">
				<% if (locals.user && user.id == producto.creador.id){ %> 
				<form action="/product/id/<%= producto.id %>/eliminar" method="POST">
					<button style="cursor: pointer;" type="submit" class="buy-now-button" style="font-size: small;">
					<a>Eliminar producto</a>
					</button>
				</form>
				<% } %> 
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<p class="precio">£ <%= producto.precio%></p>
					<h2 class="creadoPor">Creado por: <a href="/profile/<%= producto.creador.id %>"><%= producto.creador.username %></a></h2>
					<h2 class="creadoPor" class="fecha-creacion">Fecha de creación: <a><%= producto.fecha_de_creacion%></a></h2>
					<img src="/images/<%= producto.foto_product %> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < comentarios.length; i++) { %> 
						<article>				 
							<img src="/images/<%= comentarios[i].autor.foto_perfil %>" alt="" class="fotito-autor">
							<div class="data">
								<p class="user">
									<strong> <a href="/../profile/<%= comentarios[i].autor.id %>"><%= comentarios[i].autor.username %>: </a> </strong>
										<%= comentarios[i].comentario %> 
										<br>
										<div class="fecha-comentario">
										<%= comentarios[i].fecha_de_creacion %>	
									</div>
								</p>
								<div class="fecha-comentario">
								<% if(locals.user && user.id  ==  comentarios[i].autor.id){ %>
									<form action="/product/id/<%= producto.id %>/borrar/<%= comentarios[i].id %>" method="POST">
									<button type="submit" class="borrarComentario">Borrar</button>
									</form>
								<% } %>
								</div>
							</div>
						</article>
					<% } %> 
					</section>
					<% if (locals.user){ %> 
					<form method="POST" class="form" action="/product/id/<%= producto.id %>">
						<label for="comentario"></label>
						<input class="form-input" id="comentario" name="comentario" type="text" value="" placeholder="Agregar comentario">
						<button style="cursor: pointer;" type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
					<% } %>

				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

    <%- include("./parciales/footers") %>
</body>	
</html>