<%-include("./parciales/header")%>


	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto[idSearch].nombreDelInstrumento + ' ' + producto[idSearch].marca + ' ' + producto[idSearch].modelo %> </h2> 
			<p class="product-detail-description">
				<a href="../product-edit/<%= producto[idSearch].id%>">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<p class="precio">£ <%= producto[idSearch].precio%></p>
					<h2 class="creadoPor">Creado por: <a href="/../profile/<%= producto[idSearch].creadoPor%>"><%= producto[idSearch].creadoPor%></a></h2>
					<img src="<%= producto[idSearch].imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto[idSearch].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < producto[idSearch].comentarios.length; i++) { %> 

						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/../profile/<%= producto[idSearch].comentarios[i].usuarioQueComento %>"><%= producto[idSearch].comentarios[i].usuarioQueComento %>: </a> </strong>
										<%= producto[idSearch].comentarios[i].comentario %> 	
								</p>
							</div>
						</article>
					<% } %> 

					</section>
					<form class="form" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

    <%- include("./parciales/footers") %>
</body>	
</html>