<%-include("./parciales/header")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
            </div>
         
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="POST" class="register-form" action="/product/product-edit/<%= producto[0].id %> ">
					<div>
					<label for="nombre">Nombre de tu producto</label>
					<input type="text" id="nombre" name="nombre" value="<%= producto[0].nombre_producto%>">
					</div>
					<div>
						<label for="modelo">Modelo de tu producto</label>
						<input type="text" id="modelo" name="modelo" value="<%= producto[0].modelo%>">
					</div>
					<div>
						<label for="marca">Marca de tu producto</label>
						<input type="text" id="marca" name="marca" value="<%= producto[0].marca%>">
					</div>
	
					
				<div>
					<label for="foto">Imagen del producto</label>
					<input type="url" id="foto" name="foto" value="<%= producto[0].foto_product%>">
				</div>
				<div>
					<label for="descripcion">Descripción</label>
					<input type="text" id="descripcion" name="descripcion" value="<%= producto[0].descripcion%>">
				</div>
				<div>
					<label for="precio">Precio de tu producto en £</label>
					<input type="number" id="precio" name="precio" value="<%= producto[0].precio%>">
					</div>
					<br>
					<button type="submit" class="boton">Cargar producto</button>
				</form>
			</h2>
			


            <%- include("./parciales/footers") %>
</body>

</html>