<%-include("./parciales/header")%>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto[0].nombre_producto + ' ' + producto[0].marca + ' ' + producto[0].modelo %> </h2> 
			<p class="product-detail-description">
				<% if (user.id == creador.id){ %> 
				<a href="../product-edit/<%= producto[0].id%>">Editar</a>
			<% } %> 
			</p>
			<p class="product-detail-description">
				<% if (user.id == creador.id){ %> 
				<form action="/product/id/<%= producto[0].id %>/eliminar" method="POST">
					<button style="cursor: pointer;" type="submit" class="buy-now-button" style="font-size: small;">
					<a>Eliminar producto</a>
					</button>
				</form>
				<% } %> 
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<p class="precio">£ <%= producto[0].precio%></p>
					<h2 class="creadoPor">Creado por: <a href="/../profile/<%= creador.id %>"><%= creador.username%></a></h2>
					<h2 class="creadoPor" class="fecha-creacion">Fecha de creación: <a><%= producto[0].fecha_de_creacion%></a></h2>
					<img src="<%= producto[0].foto_product %> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto[0].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < infoComentarios.length; i++) { %> 
						<article>				 
							<img src="<%= infoComentarios[i].foto_autor %> " alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/../profile/<%= infoComentarios[i].id_autor %>"><%= infoComentarios[i].id_autor %>: </a> </strong>
										<%= infoComentarios[i].comentario %> 
										<br>
										<div class="fecha-comentario">
										<%= infoComentarios[i].fecha_de_creacion %>	
									</div>
								</p>
							</div>
						</article>
					<% } %> 
					</section>
					<form method="POST" class="form" action="/product/id/<%= producto[0].id %>">
						<label for="comentario"></label>
						<input class="form-input" id="comentario" name="comentario" type="text" value="" placeholder="Agregar comentario">
						<button style="cursor: pointer;" type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

    <%- include("./parciales/footers") %>
</body>	
</html>