<%-include("./parciales/header")%>
	 <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<% if(failed){ %>
				<div class="titulo-register">
					<h2 style="color: red;">Error: La clave que ingresaste no coincide con la que ya tenías.</h2>
				</div>
				<h2 class="col-12">
					<form class="register-form" action="" method="POST" enctype="multipart/form-data">
						<div>
							<label for="email">Email del Usuario</label>
							<input name="email" id="username" type="email" value="<%= user.email %>">
							</div>
						<div>
						<label for="username">Nombre del Usuario</label>
						<input name="username" id="username" type="text" value="<%= user.username %>">
						</div>
						<div>
							<label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
						<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
						</div>
						<div>
						<label for="foto_perfil">Foto de Perfil</label>
						<input id="foto_perfil" name="foto_perfil" type="file" value="<%= user.foto_perfil %>">
						</div>
						<div>
							<label for="clave">Confirmá tu contraseña establecida</label>
							<input style="border-color: red;" id="clave" name="clave" type="password" placeholder="Contraseña">
						</div>
						<div>
							<label for="clave_nueva">Cambiá tu contraseña</label>
							<input style="border-color: red;" id="clave_nueva" name="clave_nueva" type="password" placeholder="Creá tu nueva contraseña">
						</div>
						<div style="margin-top: 10px;">
							
						</div>
							<p>Si no querés cambiar tu contraseña, simplemente introducila devuelta.</p>
						<br>
						<button type="submit" class="boton">Guardar cambios</button>
					</form>
				</h2>
	
			<% } else if(error) { %>
				<div class="titulo-register">
					<h2 style="color: red;">Error: El email que intentaste utilizar ya esta siendo usado por otro usuario.</h2>
				</div>
				<h2 class="col-12">
					<form class="register-form" action="" method="POST" enctype="multipart/form-data">
						<div>
							<label for="email">Email del Usuario</label>
							<input style="border-color: red;" name="email" id="username" type="email" value="<%= user.email %>">
							</div>
						<div>
						<label for="username">Nombre del Usuario</label>
						<input name="username" id="username" type="text" value="<%= user.username %>">
						</div>
						<div>
							<label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
						<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
						</div>
						<div>
						<label for="foto_perfil">Foto de Perfil</label>
						<input id="foto_perfil" name="foto_perfil" type="file" value="<%= user.foto_perfil %>">
						</div>
						<div>
							<label for="clave">Confirmá tu contraseña establecida</label>
							<input  style="border-color: red;" id="clave" name="clave" type="password" placeholder="Contraseña">
						</div>
						<div>
							<label for="clave_nueva">Cambiá tu contraseña</label>
							<input  style="border-color: red;" id="clave_nueva" name="clave_nueva" type="password" placeholder="Creá tu nueva contraseña">
						</div>
							<p>Si no querés cambiar tu contraseña, simplemente introducila devuelta.</p>
						<br>
						<button type="submit" class="boton">Guardar cambios</button>
					</form>
				</h2>
			<% } else { %> 
			<h2 class="col-12">
				<form class="register-form" action="" method="POST" enctype="multipart/form-data">
					<div>
						<label for="email">Email del Usuario</label>
						<input name="email" id="username" type="email" value="<%= user.email %>">
						</div>
					<div>
					<label for="username">Nombre del Usuario</label>
					<input name="username" id="username" type="text" value="<%= user.username %>">
					</div>
					<div>
						<label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
					<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
					</div>
					<div>
					<label for="foto_perfil">Foto de Perfil</label>
					<input id="foto_perfil" name="foto_perfil" type="file" value="<%= user.foto_perfil %>">
					</div>
					<div>
						<label for="clave">Confirmá tu contraseña establecida</label>
						<input id="clave" name="clave" type="password" placeholder="Contraseña">
					</div>
					<div>
						<label for="clave_nueva">Cambiá tu contraseña</label>
						<input  id="clave_nueva" name="clave_nueva" type="password" placeholder="Creá tu nueva contraseña">
					</div>
						<p>Si no querés cambiar tu contraseña, simplemente introducila devuelta.</p>
					<br>
					<button type="submit" class="boton">Guardar cambios</button>
				</form>
			</h2>
		<% } %>  

            <%- include("./parciales/footers") %>
</body>

</html>
