<%-include("./parciales/header")%>
<% console.log(usuario) %> 
<% console.log(productosDelUsuario) %> 
	<!-- Datos del usuario -->
		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<img src="<%= usuario[0].fotoDePerfil %>" alt="" class="foto-perfil">
				</div>
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title">  <%= usuario[0].username %>
							<a href="/../profile-edit/<%= usuarioClickeado %>">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					</div>
					<div>
						<ul class="">
							<li><%= usuario[0].cantidadDeProductos %>  productos</li>
							<li><%= usuario[0].seguidores %> seguidores</li>
							<li><%= usuario[0].comentarios %> comentarios</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</div>
				<!-- Show mis productos -->
				<% for(let i = 0; i < usuario[0].cantidadDeProductos; i++) { %> 
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="../product/id/<%= instrumentitos[i].id %>">
								<figure class="product-box_image">
									<img src="<%= instrumentitos[i].imagen%> " alt="">
								</figure>
								<article class="product-box_data">
									<h2><%= instrumentitos[i].nombreDelInstrumento + ' ' + instrumentitos[i].marca + ' ' + instrumentitos[i].modelo %> </h2>
									<p>Precio: £<%= instrumentitos[i].precio %></p>
									<p>Comentarios: <%= instrumentitos[i].comentarios.length %> </p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			</div>
		</div>
    <%- include("./parciales/footers") %>
</body>	
</html>