<%-include("./parciales/header")%>
    <!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form class="register-form" action="" method="POST">
					<div>
					<label for="username">Nombre del Usuario</label>
					<input name="username" id="username" type="text" value="<%= user.username %> ">
					</div>
					<div>
						<label for="clave">Contraseña</label>
						<input id="clave" name="clave" type="password" value="<%= user.clave %>">
					</div>
					<div>
						<label for="fehca_de_nacimiento">Fecha de Nacimiento</label>
					<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
					</div>
					<div>
					<label for="foto_perfil">Foto de Perfil</label>
					<input id="foto_perfil" name="foto_perfil" type="url" value="<%= user.foto_perfil %>">
					</div>
					<br>
					<button type="submit" class="boton">Guardar cambios</button>
				</form>
			</h2>


            <%- include("./parciales/footers") %>
</body>

</html>