<%-include("./parciales/header")%>
    <!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<% if(failed){ %>
				<div class="titulo-register">
					<h2 style="color: red;">Error: Las claves que ingresaste no coinciden, verificá que sean iguales.</h2>
				</div>
				<h2 class="col-12">
					<form class="register-form" action="" method="POST">
						<div>
						<label for="username">Nombre del Usuario</label>
						<input name="username" id="username" type="text" value="<%= user.username %>">
						</div>
						<div>
							<label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
						<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
						</div>
						<div>
						<label for="foto_perfil">Foto de Perfil</label>
						<input id="foto_perfil" name="foto_perfil" type="url" value="<%= user.foto_perfil %>">
						</div>
						<div>
							<label for="clave">Nueva contraseña</label>
							<input style="border-color: red;" id="clave" name="clave" type="password" placeholder="Contraseña">
						</div>
						<div>
							<label for="clavee">Confirmá tu nueva contraseña</label>
							<input style="border-color: red;" id="clavee" name="clavee" type="password" placeholder="Confirmá tu contraseña">
						</div>
						<div style="margin-top: 10px;">
							<p>Si deseás conservar tu contraseña previa, simplemente ingresá la misma como si fuese tu "nueva contraseña".</p>
						</div>
						<br>
						<button type="submit" class="boton">Guardar cambios</button>
					</form>
				</h2>
	
			<% } else { %> 
			<h2 class="col-12">
				<form class="register-form" action="" method="POST">
					<div>
					<label for="username">Nombre del Usuario</label>
					<input name="username" id="username" type="text" value="<%= user.username %>">
					</div>
					<div>
						<label for="fecha_de_nacimiento">Fecha de Nacimiento</label>
					<input id="fecha_de_nacimiento" name="fecha_de_nacimiento" type="date" value="<%= user.fecha_de_nacimiento %>">
					</div>
					<div>
					<label for="foto_perfil">Foto de Perfil</label>
					<input id="foto_perfil" name="foto_perfil" type="url" value="<%= user.foto_perfil %>">
					</div>
					<div>
						<label for="clave">Nueva contraseña</label>
						<input id="clave" name="clave" type="password" placeholder="Contraseña">
					</div>
					<div>
						<label for="clavee">Confirmá tu nueva contraseña</label>
						<input id="clavee" name="clavee" type="password" placeholder="Confirmá tu contraseña">
					</div>
					<div style="margin-top: 10px;">
						<p>Si deseás conservar tu contraseña previa, simplemente ingresá la misma como si fuese tu "nueva contraseña".</p>
					</div>
					<br>
					<button type="submit" class="boton">Guardar cambios</button>
				</form>
			</h2>
		<% } %> 


            <%- include("./parciales/footers") %>
</body>

</html>