<%-include("./parciales/header")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% for(let i = 0; i < resultadoSearch.length; i++) { %> 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product/id/<%= resultadoSearch[i].id %>">
						<figure class="product-box_image">
							<img src="<%= resultadoSearch[i].imagen%> " alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= resultadoSearch[i].nombreDelInstrumento + ' ' + resultadoSearch[i].marca + ' ' + resultadoSearch[i].modelo %> </h2>
							<p>El instrumento se fabrico en la fecha <%= resultadoSearch[i].fechaDeCreacion %> </p>
							<p>Comentarios: <%= resultadoSearch[i].comentarios.length %> </p>
						</article>
					</a>
				</section>
			</div>
		<% } %> 
      <%- include("./parciales/footers") %>
</body>

</html>